metadataserver/tmp/Untitled2.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 U (http://www.xmlspy.com) by thomas chille (tfh-berlin) -->
<!--DTD generated by XMLSPY v5 U (http://www.xmlspy.com)-->
<!ELEMENT UML:Association (UML:Association.connection)>
<!ELEMENT UML:Association.connection (UML:AssociationEnd+)>
<!ELEMENT UML:AssociationEnd EMPTY>
<!ATTLIST UML:AssociationEnd
	name (aggregation_7 | association_6) #REQUIRED
	aggregation (none | shared) #REQUIRED
	type (class_0 | class_1 | class_2 | class_3) #REQUIRED
>
<!ELEMENT UML:Class EMPTY>
<!ATTLIST UML:Class
	xmi.id (class_0 | class_1 | class_2 | class_3 | class_4 | class_5) #REQUIRED
	name (class_0 | class_1 | class_2 | class_3 | class_4 | class_5) #REQUIRED
>
<!ELEMENT XMI (XMI.header, XMI.content)>
<!ATTLIST XMI
	xmi.version CDATA #REQUIRED
	xmlns:UML CDATA #REQUIRED
>
<!ELEMENT XMI.content (UML:Class+, UML:Association+)>
<!ELEMENT XMI.header (XMI.model, XMI.metamodel)>
<!ELEMENT XMI.metamodel EMPTY>
<!ATTLIST XMI.metamodel
	xmi.name CDATA #REQUIRED
	href CDATA #REQUIRED
>
<!ELEMENT XMI.model EMPTY>
<!ATTLIST XMI.model
	xmi.name CDATA #REQUIRED
	href CDATA #REQUIRED
>
