metadataserver/sample2.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!-- ################################################### -->
<!-- # fixed content taken from OMG by metadata.server # -->
<!-- ################################################### -->

<!-- Generated by: XMI Framework 1.0 -->
<!-- Date: Mon Oct 25 17:35:30 PDT 1999 -->


<!-- _______________________________________________________________ -->
<!--                                                                 -->
<!-- This section of the DTD contains XML declarations required by   -->
<!-- XMI.                                                            -->
<!-- _______________________________________________________________ -->


<!-- _______________________________________________________________ -->
<!--                                                                 -->
<!-- XMI is the top-level XML element for XMI transfer text          -->
<!-- _______________________________________________________________ -->

<!ELEMENT XMI (XMI.header?, XMI.content?, XMI.difference*,
               XMI.extensions*) >
<!ATTLIST XMI
            xmi.version CDATA #FIXED "1.1"
            timestamp CDATA #IMPLIED
            verified (true | false) #IMPLIED
>

<!-- _______________________________________________________________ -->
<!--                                                                 -->
<!-- XMI.header contains documentation and identifies the model,     -->
<!-- metamodel, and metametamodel                                    -->
<!-- _______________________________________________________________ -->

<!ELEMENT XMI.header (XMI.documentation?, XMI.model*, XMI.metamodel*,
                      XMI.metametamodel*, XMI.import*) >

<!-- _______________________________________________________________ -->
<!--                                                                 -->
<!-- documentation for transfer data                                 -->
<!-- _______________________________________________________________ -->

<!ELEMENT XMI.documentation (#PCDATA | XMI.owner | XMI.contact |
                             XMI.longDescription | XMI.shortDescription |
                             XMI.exporter | XMI.exporterVersion |
                             XMI.notice)* >
<!ELEMENT XMI.owner ANY >
<!ELEMENT XMI.contact ANY >
<!ELEMENT XMI.longDescription ANY >
<!ELEMENT XMI.shortDescription ANY >
<!ELEMENT XMI.exporter ANY >
<!ELEMENT XMI.exporterVersion ANY >
<!ELEMENT XMI.exporterID ANY >
<!ELEMENT XMI.notice ANY >

<!-- _______________________________________________________________ -->
<!--                                                                 -->
<!-- XMI.element.att defines the attributes that each XML element    -->
<!-- that corresponds to a metamodel class must have to conform to   -->
<!-- the XMI specification.                                          -->
<!-- _______________________________________________________________ -->


<!ENTITY % XMI.element.att
               'xmi.id ID #IMPLIED xmi.label CDATA #IMPLIED xmi.uuid
                CDATA #IMPLIED ' >

<!-- _______________________________________________________________ -->
<!--                                                                 -->
<!-- XMI.link.att defines the attributes that each XML element that  -->
<!-- corresponds to a metamodel class must have to enable it to      -->
<!-- function as a simple XLink as well as refer to model            -->
<!-- constructs within the same XMI file.                            -->
<!-- _______________________________________________________________ -->


<!ENTITY % XMI.link.att
               'href CDATA #IMPLIED xmi.idref IDREF #IMPLIED xml:link
                CDATA #IMPLIED xlink:inline (true | false) #IMPLIED
                xlink:actuate (show | user) #IMPLIED xlink:content-role
                CDATA #IMPLIED xlink:title CDATA #IMPLIED xlink:show
                (embed | replace | new) #IMPLIED xlink:behavior CDATA
                #IMPLIED' >

<!-- _______________________________________________________________ -->
<!--                                                                 -->
<!-- XMI.model identifies the model(s) being transferred             -->
<!-- _______________________________________________________________ -->

<!ELEMENT XMI.model ANY >
<!ATTLIST XMI.model
            %XMI.link.att;
            xmi.name     CDATA #REQUIRED
            xmi.version  CDATA #IMPLIED
>

<!-- _______________________________________________________________ -->
<!--                                                                 -->
<!-- XMI.metamodel identifies the metamodel(s) for the transferred   -->
<!-- data                                                            -->
<!-- _______________________________________________________________ -->

<!ELEMENT XMI.metamodel ANY >
<!ATTLIST XMI.metamodel
            %XMI.link.att;
            xmi.name     CDATA #REQUIRED
            xmi.version  CDATA #IMPLIED
>

<!-- _______________________________________________________________ -->
<!--                                                                 -->
<!-- XMI.metametamodel identifies the metametamodel(s) for the       -->
<!-- transferred data                                                -->
<!-- _______________________________________________________________ -->

<!ELEMENT XMI.metametamodel ANY >
<!ATTLIST XMI.metametamodel
            %XMI.link.att;
            xmi.name     CDATA #REQUIRED
            xmi.version  CDATA #IMPLIED
>

<!-- _______________________________________________________________ -->
<!--                                                                 -->
<!-- XMI.metametamodel identifies other files associated with the    -->
<!-- transferred data                                                -->
<!-- _______________________________________________________________ -->

<!ELEMENT XMI.import ANY >
<!ATTLIST XMI.import
            %XMI.link.att;
            xmi.name     CDATA #REQUIRED
            xmi.version  CDATA #IMPLIED
>

<!-- _______________________________________________________________ -->
<!--                                                                 -->
<!-- XMI.content is the actual data being transferred                -->
<!-- _______________________________________________________________ -->

<!ELEMENT XMI.content ANY >

<!-- _______________________________________________________________ -->
<!--                                                                 -->
<!-- XMI.extensions contains data to transfer that does not conform  -->
<!-- to the metamodel(s) in the header                               -->
<!-- _______________________________________________________________ -->

<!ELEMENT XMI.extensions ANY >
<!ATTLIST XMI.extensions
            xmi.extender CDATA #REQUIRED
>

<!-- _______________________________________________________________ -->
<!--                                                                 -->
<!-- extension contains information related to a specific model      -->
<!-- construct that is not defined in the metamodel(s) in the header -->
<!-- _______________________________________________________________ -->

<!ELEMENT XMI.extension ANY >
<!ATTLIST XMI.extension
            %XMI.element.att;
            %XMI.link.att;
            xmi.extender CDATA #REQUIRED
            xmi.extenderID CDATA #IMPLIED
>

<!-- _______________________________________________________________ -->
<!--                                                                 -->
<!-- XMI.difference holds XML elements representing differences to a -->
<!-- base model                                                      -->
<!-- _______________________________________________________________ -->

<!ELEMENT XMI.difference (XMI.difference | XMI.delete | XMI.add |
                          XMI.replace)* >
<!ATTLIST XMI.difference
            %XMI.element.att;
            %XMI.link.att;
>

<!-- _______________________________________________________________ -->
<!--                                                                 -->
<!-- XMI.delete represents a deletion from a base model              -->
<!-- _______________________________________________________________ -->

<!ELEMENT XMI.delete EMPTY >
<!ATTLIST XMI.delete
            %XMI.element.att;
            %XMI.link.att;
>

<!-- _______________________________________________________________ -->
<!--                                                                 -->
<!-- XMI.add represents an addition to a base model                  -->
<!-- _______________________________________________________________ -->

<!ELEMENT XMI.add ANY >
<!ATTLIST XMI.add
            %XMI.element.att;
            %XMI.link.att;
            xmi.position CDATA "-1"
>

<!-- _______________________________________________________________ -->
<!--                                                                 -->
<!-- XMI.replace represents the replacement of a model construct     -->
<!-- with another model construct in a base model                    -->
<!-- _______________________________________________________________ -->

<!ELEMENT XMI.replace ANY >
<!ATTLIST XMI.replace
            %XMI.element.att;
            %XMI.link.att;
            xmi.position CDATA "-1"
>

<!-- _______________________________________________________________ -->
<!--                                                                 -->
<!-- XMI.reference may be used to refer to data types not defined in -->
<!-- the metamodel                                                   -->
<!-- _______________________________________________________________ -->

<!ELEMENT XMI.reference ANY >
<!ATTLIST XMI.reference
            %XMI.link.att;
>

<!-- ################################################### -->
<!-- # additional content generated by metadata.server # -->
<!-- ################################################### -->

<!ELEMENT MyClass0 (MyClass0.myclass1 | MyClass0.myclass9 | XMI.extension)*>
<!ATTLIST MyClass0 
			myclass1 IDREF #IMPLIED
			myclass9 IDREF #IMPLIED
			%XMI.element.att; %XMI.link.att; >
<!ELEMENT MyClass0.myclass1 (MyClass1 | XMI.extension)*>
<!ELEMENT MyClass0.myclass9 (MyClass9 | XMI.extension)*>

<!ELEMENT MyClass9 (MyClass0 | MyClass5 | XMI.extension)*>
<!ATTLIST MyClass9 
			myclass0 IDREF #IMPLIED
			myclass5 IDREF #IMPLIED
			%XMI.element.att; %XMI.link.att; >

<!ELEMENT MyClass1 (MyClass1.myclass0 | XMI.extension)*>
<!ATTLIST MyClass1 
			myclass0 IDREF #IMPLIED
			%XMI.element.att; %XMI.link.att; >
<!ELEMENT MyClass1.myclass0 (MyClass0 | XMI.extension)*>

<!ELEMENT MyClass2 (MyClass2.myclass3 | MyClass1.myclass0 | XMI.extension)*>
<!ATTLIST MyClass2 
			myclass3 IDREF #IMPLIED
			myclass0 IDREF #IMPLIED
			%XMI.element.att; %XMI.link.att; >
<!ELEMENT MyClass2.myclass3 (MyClass3 | XMI.extension)*>

<!ELEMENT MyClass3 (MyClass2 | MyClass6 | XMI.extension)*>
<!ATTLIST MyClass3 
			myclass2 IDREF #IMPLIED
			myclass6 IDREF #IMPLIED
			%XMI.element.att; %XMI.link.att; >

<!ELEMENT MyClass4 (XMI.extension)*>

<!ELEMENT MyClass7 (MyClass7.myclass6 | XMI.extension)*>
<!ATTLIST MyClass7 
			myclass6 IDREF #IMPLIED
			%XMI.element.att; %XMI.link.att; >
<!ELEMENT MyClass7.myclass6 (MyClass6 | XMI.extension)*>

<!ELEMENT MyClass6 (MyClass6.myclass7 | MyClass2.myclass3 | MyClass1.myclass0 | XMI.extension)*>
<!ATTLIST MyClass6 
			myclass7 IDREF #IMPLIED
			myclass3 IDREF #IMPLIED
			myclass0 IDREF #IMPLIED
			%XMI.element.att; %XMI.link.att; >
<!ELEMENT MyClass6.myclass7 (MyClass7 | XMI.extension)*>

<!ELEMENT MyClass5 (XMI.extension)*>

